    @import url(https://fonts.googleapis.com/css?family=Poppins);
    .btn {
        display: inline-block;
        font-family: 'Poppins', sans-serif;
        *display: inline;
        *zoom: 1;
        padding: 4px 10px 4px;
        margin-bottom: 0;
        margin-top: 5px;
        font-size: 13px;
        line-height: 18px;
        color: #333333;
        text-align: center;
        text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
        vertical-align: middle;
        background-color: #f5f5f5;
        background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
        background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
        background-image: linear-gradient(top, #ffffff, #e6e6e6);
        background-repeat: repeat-x;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr=#ffffff, endColorstr=#e6e6e6, GradientType=0);
        border-color: #e6e6e6 #e6e6e6 #e6e6e6;
        border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
        border: 1px solid #e6e6e6;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
        cursor: pointer;
        *margin-left: .3em;
    }

    .btn:hover,
    .btn:active,
    .btn.active,
    .btn.disabled,
    .btn[disabled] {
        background-color: #e6e6e6;
    }

    .btn-large {
        padding: 9px 14px;
        font-size: 15px;
        line-height: normal;
        -webkit-border-radius: 8px;
        -moz-border-radius: 8px;
        border-radius: 8px;
    }

    .btn:hover {
        color: #333333;
        text-decoration: none;
        background-color: #e6e6e6;
        background-position: 0 -15px;
        -webkit-transition: background-position 0.1s linear;
        -moz-transition: background-position 0.1s linear;
        -ms-transition: background-position 0.1s linear;
        -o-transition: background-position 0.1s linear;
        transition: background-position 0.1s linear;
    }

    .btn-primary,
    .btn-primary:hover {
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
        color: #ffffff;
    }

    .btn-primary.active {
        color: rgba(255, 255, 255, 0.75);
    }

    .btn-primary {
        background-color: #bae240;
        background-image: -moz-linear-gradient(top, #cdf24d, #bae240);
        background-image: -ms-linear-gradient(top, #cdf24d, #bae240);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#cdf24d), to(#bae240));
        background-image: -webkit-linear-gradient(top, #cdf24d, #bae240);
        background-image: -o-linear-gradient(top, #cdf24d, #bae240);
        background-image: linear-gradient(top, #cdf24d, #bae240);
        background-repeat: repeat-x;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr=#cdf24d, endColorstr=#bae240, GradientType=0);
        font-weight: bold;
    }

    .btn-primary:hover,
    .btn-primary:active,
    .btn-primary.active,
    .btn-primary.disabled,
    .btn-primary[disabled] {
        filter: none;
        background-color: #bae240;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0px 20px rgba(0, 0, 0, 0.5);
        transition: .3s;
    }

    .btn-block {
        width: 100%;
        display: block;
        border: none;
    }

    body {
        width: 100%;
        height: 100%;
        font-family: 'Poppins', sans-serif;
        background: #092756;
        background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -moz-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
        background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -webkit-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%, #092756 100%);
        background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -o-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -o-linear-gradient(-45deg, #670d10 0%, #092756 100%);
        background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), -ms-linear-gradient(top, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), -ms-linear-gradient(-45deg, #670d10 0%, #092756 100%);
        background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104, 128, 138, .4) 10%, rgba(138, 114, 76, 0) 40%), linear-gradient(to bottom, rgba(57, 173, 219, .25) 0%, rgba(42, 60, 87, .4) 100%), linear-gradient(135deg, #670d10 0%, #092756 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3E1D6D', endColorstr='#092756', GradientType=1);
    }

    #main {
        position: fixed;
        top: 50%;
        left: 50%;
        margin: -150px 0 0 -150px;
        width: 300px;
        height: 300px;]
    }

    #main h1 {
        color: #fff;
        text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        letter-spacing: 1px;
        text-align: center;
    }

    input {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 10px;
        background: white;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 15px;
        color: #c5c5c5;
        border: none;
        border-radius: 8px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0px 10px rgba(0, 0, 0, 0.3);
        transition: 1s;
    }


    input:focus {
        background-color: white;
        transition: 1s;
        color: #092756;
        box-shadow: none;
    }

    .subTexto {
        text-align: center;
        font-size: 14px;
        color: white;
    }

    .registro,
    .registro:active,
    .registro.active,
    .registro:disabled {
        text-decoration: none;
        color: #bae240;
    }

    .registro:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    .logo {
        padding: 0px 110px 50px 105px;
        margin: auto;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;

    }

    .password,
    .input,
    .btn-primary,
    .condiciones {
        letter-spacing: 1.1px;
    }


    body {
        width: 100%;
        height: 100%;
        font-family: 'Poppins', sans-serif;
    }

    .login {
        position: fixed;
        top: 35%;
        left: 50%;
        margin: -150px 0 0 -150px;
        width: 300px;
        height: 300px;
    }

    input {
        width: 100%;
        font-family: 'Poppins', sans-serif;
        margin-bottom: 10px;
        background: white;
        border: none;
        outline: none;
        padding: 10px;
        font-size: 15px;
        color: #c5c5c5;
        border: none;
        border-radius: 8px;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0px 20px rgba(0, 0, 0, 0.1);

    }

    input:focus {
        background-color: white;
        transition: 1s;
        color: #092756;
        box-shadow: none;
    }

    .subTexto {
        text-align: center;
        font-size: 14px;
        color: darkslategray;
    }

    .registro,
    .registro:active,
    .registro.active,
    .registro:disabled {
        text-decoration: none;
        color: dodgerblue;
    }

    .registro:hover {
        text-decoration: underline;
        font-weight: bold;
    }

    .logo {
        padding: 0px 34px 0px 34px;
        margin: auto;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }

    .condiciones {
        position: fixed;
        width: 100%;
        font-size: 14px;
        color: darkslategray;
        bottom: 5px;
        margin: auto;
        text-align: center;
    }

    .condiciones .registro {
        text-decoration: none;
    }

    .sub {
        padding: 0px 0px 50px 0px;
        font-size: 14px;
        text-align: center;
        color: dodgerblue;
    }

    /*Escoger Universidad*/

    .selectorU {
        margin-bottom: 10px;
        text-align: center
    }

    .drop-menu {
        width: 300px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 0 2px rgb(204, 204, 204);
        transition: all .5s ease;
        position: relative;
        font-size: 15px;
        color: gray;
        text-align: left;
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 0px 20px rgba(0, 0, 0, 0.1);
    }

    .drop-menu .desactivado {
        color: gray;
    }

    .drop-menu .select {
        cursor: pointer;
        display: block;
        padding: 10px;
    }

    .drop-menu .select i {
        font-size: 14px;
        color: #888;
        cursor: pointer;
        transition: all .5s ease;
        float: right;
        margin: 5px;
    }

    .drop-menu:hover {
        box-shadow: 0 0 4px rgb(204, 204, 204)
    }

    .drop-menu:active {
        background-color: #f8f8f8;
    }

    .drop-menu.active:hover,
    .drop-menu.active {
        box-shadow: 0 0 4px rgb(204, 204, 204);
        border-radius: 5px 5px 0 0;
        background-color: #f8f8f8;
    }

    .drop-menu.active .select i {
        transform: rotate(180deg)
    }

    .drop-menu .dropeddown {
        position: absolute;
        background-color: #fff;
        width: 100%;
        left: 0;
        margin-top: 1px;
        box-shadow: 0 1px 2px rgb(204, 204, 204);
        border-radius: 0 1px 5px 5px;
        overflow: hidden;
        display: none;
        max-height: 144px;
        overflow-y: auto;
        z-index: 9
    }

    .drop-menu .dropeddown li {
        padding: 10px;
        transition: all .2s ease;
        cursor: pointer;
    }

    .drop-menu .dropeddown {
        padding: 0;
        list-style: none;
    }

    .drop-menu .dropeddown li:hover {
        background-color: #bae240;
        color: #fff;
    }

    .drop-menu .dropeddown li:active {
        background-color: #a2d111;
        color: #fff
    }

    .escogerIdioma {
        padding: 0px 0px 50px 0px;
        font-size: 14px;
        text-align: center;
        color: darkslategrey;
    }

    .confNombre {
        padding: 0px 0px 0px 0px;
        font-size: 14px;
        text-align: center;
        color: darkslategrey;
    }

    .anuncioAudio {
        padding: 0px 0px 0px 0px;
        font-size: 14px;
        text-align: left;
        display: inline-block;
        color: darkslategrey;
    }

    .azul {
        color: dodgerblue;
        font-weight: bold;
    }

    .verde {
        color: #bae240;
        font-weight: bold;
    }

    .progreso {
        position: fixed;
        width: 300px;
        margin: auto;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 30px;
    }

    .linea {
        width: 300px;
    }

    .ciclaN {
        display: block;
        margin-bottom: 5px;
        margin-left: 20px;
    }

    .ciclaR {
        display: block;
        margin-bottom: 5px;
        margin-left: 80px;
    }

    .ciclaA {
        display: block;
        margin-bottom: 5px;
        margin-left: 150px;
    }

    .h3 {
        width: 300px;
        text-align: center;
        margin-bottom: 5px;
        margin-left: 20px;

    }

    .audio {
        position: relative;
        margin: auto;
    }

    .botonAudio {
        width: 100%;
    }



    .anuncioAudio {
        padding: 0px 0px 0px 0px;
        font-size: 14px;
        text-align: left;
        display: inline-block;
        color: darkslategrey;
    }

